body{
    margin: 0;
    display:grid;
    grid-auto-columns: minmax(100%);
    grid-template-areas:
    "div1 menu"
    "under"
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

header{
background-color:black;
opacity: 0.7;
padding-left: 9%;
font-size: 14px;
padding-top: 20px;
padding-bottom: 20px;}

#div1{
    margin-top: 3%;
    height: 4%;
    width: 10%;
    float: inline-start;
    background: black;
    color: white;
    padding: 10px;
    font-size: 10px;
    position: absolute;
    z-index: 2;
    grid-area: div1;
}
.menu{
    opacity: 10;
    margin-left: 80%;
    grid-area: menu;
}
.under{
display: grid;
grid-template-columns:5% 55% 0%;
grid-template-areas:
"hm2 log pre"
;
color: honeydew;
}
.hm2{
    margin-left: 5%;
    grid-area: hm2;
    opacity: 0.5;
}
.log{
    margin-left: 5%;
    grid-area: log;
}
.pre{
    width: 150px;
    text-align: center;
    padding: 15px;
    color: white;
    background-color: rgb(9, 113, 231);
    grid-area: pre;
}

#login{
    font-size: 16px;
    background: white;
    padding: 5%;
    margin: 5% 40% 5% 40%;
    border-radius: 12px;
    width: 10%;
    height: 100%;
    position: relative;
}
@media screen and (max-width:2000px){#h3{
    text-align:end;
    width: 200px;
}
#login{
    font-size: 16px;
    background: white;
    padding: 5%;
    margin: 5% 40% 5% 10%;
    border-radius: 12px;
    width: 70%;
    height: 80%;
    position: relative;
}

.white{background-color: rgb(70, 67, 67); 
color: white; 
border-radius: 5%;
text-align: center;
margin-left: 40%;
margin-right: 10%;
}
.main{display:flex;
align-content: center;
margin: 12%;
}
body{
    background: url(photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 12% 8% 30% auto 10%;
    grid-template-areas:
    "div1 menu"
    "hm2 log pre"
    ;}
    .under{
        display: grid;
        grid-template-columns:12% 50% 0%;
        grid-template-areas:
        "hm2 log pre"
        ;
        color: honeydew;
        }
        #div1{padding: 10px;
            text-align: center;
            float: inline-start;
            background: black;
            color: white;
            font-size: 12px;
            position: absolute;
            z-index: 2;
            grid-area: div1;
        }
.pre{
    width: 100px;
    text-align: center;
    padding: 15px;
    color: white;
    background-color: rgb(9, 113, 231);
    grid-area: pre;
}

    }